body{
background-color: #333333;
color: white;

padding: 50px;
}button{
padding: 10px 20px;
font-size:16px; ;
cursor: pointer;
}body{
font-family: Arial, sans-serif;
margin: 40px;
 }from{
max-width: 500px;
margin: auto;
}label{
display:block;
margin-top: 15px;
font-weight: bold;
}input{
   padding: 8px;
   width: 100%;
   margin-top: 5pxs;
}
























